@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #141414;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #141414;
}

body::-webkit-scrollbar-thumb {
  background-color: #dc2626;
  border-radius: 0.2rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #7f1d1d;
}

/* Fonts */
.font-bebas {
  font-family: 'Bebas Neue', cursive;
}

.font-kanit {
  font-family: 'Kanit', sans-serif;
}

/* Commonly Used Colours */
.default-background {
  background-color: #141414;
}

.secondary-background {
  background-color: #313131;
}
